<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Vuelve a escucharla</title>

    <!-- Bootstrap Core CSS -->
    <link href="{{STATIC_URL}}css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{{STATIC_URL}}css/stylish-portfolio.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="{{STATIC_URL}}font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

    <!--script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

          ga('create', 'UA-58505326-2', 'auto');
          ga('send', 'pageview');
    </script-->

  </head>

<body>

    <!-- Header -->
    <header id="top" class="header">
        <div class = "row">
        </div>
        <div class="text-vertical-bottom">
            <div class="container">
                <div class = "row" id = "margen">
                    <div class ="row">
                        <a href="/year/2010a2014" class="btn btn-lg btn-light" id = "btn_year">2010 - 2014</a>
                    </div>
                    <div class ="row">
                        <a href="/year/2005a2009" class="btn btn-lg btn-light" id = "btn_year">2005 - 2009</a>
                    </div>
                    <div class ="row" >
                        <a href="/year/2000a2004" class="btn btn-lg btn-light" id = "btn_year">2000 - 2004</a>
                    </div>
                    <div class ="row" >
                        <a href="/year/1995a1999" class="btn btn-lg btn-light" id = "btn_year">1995 - 1999</a>
                    </div>
                    <div class ="row" >
                        <a href="/year/1990a1994" class="btn btn-lg btn-light" id = "btn_year">1990 - 1994</a>
                    </div>
                    <div class ="row" >
                        <a href="/year/1985a1989" class="btn btn-lg btn-light" id = "btn_year">1985 - 1989</a>
                    </div>
                    <div class ="row" >
                        <a href="/year/1980a1984" class="btn btn-lg btn-light" id = "btn_year">1980 - 1984</a>
                    </div>
                    <div class ="row" >
                        <a href="/year/1960a1979" class="btn btn-lg btn-light" id = "btn_year">1960 - 1979</a>
                    </div>
                </div>
            </div>
            <h1 id = "blanca">Vuelve a escucharla</h1>
            <h4 id = "blanca">Y que tal si recordamos algunos de esos temas</h4>
        </div>

    </header>

    <!-- Call to Action -->

    <!-- Footer -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-10 col-lg-offset-1 text-center">
                    <h4><strong>Vuelve a escucharla</strong>
                    </h4>
                    <p>Made by:<br>Carlos Roso<br>David Sanchez</p>
                    <ul class="list-unstyled">
                        <li><i class="fa fa-envelope-o fa-fw"></i>  <a href="mailto:vuelveaescucharla@gmail.com">vuelveaescucharla@gmail.com</a>
                        </li>
                    </ul>
                    <hr class="small">
                    <p class="text-muted">www.vuelveaescucharla.com</p>
                </div>
            </div>
        </div>
    </footer>

    <!-- jQuery -->
    <script src="{{STATIC_URL}}js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{{STATIC_URL}}js/bootstrap.min.js"></script>

    

</body>

</html>
