<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Vuelve a escucharla</title>

    <!-- Bootstrap Core CSS -->
    <link href="{{STATIC_URL}}css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{{STATIC_URL}}css/stylish-portfolio.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="{{STATIC_URL}}font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">


        <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-58505326-1', 'auto');
  ga('send', 'pageview');

</script>
  </head>

<body>

    <!-- Header -->
    <header id="top" class="header">
        <div class = "row">
        </div>
        <div class="text-vertical-bottom">
            <div class="container">
                <div class = "row" id = "margen">
                    <div class ="row">
                        <a href="/year/2010" class="btn btn-lg btn-light" id = "btn_year">2010</a>
                        <a href="/year/2009" class="btn btn-lg btn-light" id = "btn_year">2009</a>
                        <a href="/year/2008" class="btn btn-lg btn-light" id = "btn_year">2008</a>
                        <a href="/year/2007" class="btn btn-lg btn-light" id = "btn_year">2007</a>
                    </div>
                    <div class ="row">
                        <a href="/year/2006" class="btn btn-lg btn-light" id = "btn_year">2006</a>
                        <a href="/year/2005" class="btn btn-lg btn-light" id = "btn_year">2005</a>
                        <a href="/year/2004" class="btn btn-lg btn-light" id = "btn_year">2004</a>
                        <a href="/year/2003" class="btn btn-lg btn-light" id = "btn_year">2003</a>
                    </div>
                    <div class ="row" >
                        <a href="/year/2002" class="btn btn-lg btn-light" id = "btn_year">2002</a>
                        <a href="/year/2001" class="btn btn-lg btn-light" id = "btn_year">2001</a>
                        <a href="/year/2000" class="btn btn-lg btn-light" id = "btn_year">2000</a>
                        <a href="/year/1999" class="btn btn-lg btn-light" id = "btn_year">1999</a>
                    </div>
                </div>
            </div>
            <h1 id = "blanca">Vuelve a escucharla</h1>
            <h4 id = "blanca">Y que tal si recordamos algunos de esos temas</h4>
        </div>

    </header>

    <!-- Call to Action -->

    <!-- Footer -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-10 col-lg-offset-1 text-center">
                    <h4><strong>Vuelve a escucharla</strong>
                    </h4>
                    <p>Made by:<br>Carlos Roso<br>David Sanchez</p>
                    <ul class="list-unstyled">
                        <li><i class="fa fa-envelope-o fa-fw"></i>  <a href="mailto:name@example.com">vuelveaescucharla@gmail.com</a>
                        </li>
                    </ul>
                    <br>
                    <ul class="list-inline">
                        <li>
                            <a href="#"><i class="fa fa-facebook fa-fw fa-3x"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-twitter fa-fw fa-3x"></i></a>
                        </li>
                    </ul>
                    <hr class="small">
                    <p class="text-muted">www.vuelveaescucharla.com</p>
                </div>
            </div>
        </div>
    </footer>

    <!-- jQuery -->
    <script src="{{STATIC_URL}}js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{{STATIC_URL}}js/bootstrap.min.js"></script>

    

</body>

</html>
