<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Vuelve a escucharla</title>

    <!-- Bootstrap Core CSS -->
    <link href="{{STATIC_URL}}css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{{STATIC_URL}}css/stylish-portfolio.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="{{STATIC_URL}}font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

    <script src="{{STATIC_URL}}js/larocola.js"></script>

    <!--script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

          ga('create', 'UA-58505326-2', 'auto');
          ga('send', 'pageview');
    </script-->

        <!--Favicon-->
    <link rel="apple-touch-icon" sizes="57x57" href="{{STATIC_URL}}favicons/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="114x114" href="{{STATIC_URL}}favicons/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="72x72" href="{{STATIC_URL}}favicons/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="144x144" href="{{STATIC_URL}}favicons/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="60x60" href="{{STATIC_URL}}favicons/apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="120x120" href="{{STATIC_URL}}favicons/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="76x76" href="{{STATIC_URL}}favicons/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="152x152" href="{{STATIC_URL}}favicons/apple-touch-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="{{STATIC_URL}}favicons/apple-touch-icon-180x180.png">
    <link rel="icon" type="image/png" href="{{STATIC_URL}}favicons/favicon-192x192.png" sizes="192x192">
    <link rel="icon" type="image/png" href="{{STATIC_URL}}favicons/favicon-160x160.png" sizes="160x160">
    <link rel="icon" type="image/png" href="{{STATIC_URL}}favicons/favicon-96x96.png" sizes="96x96">
    <link rel="icon" type="image/png" href="{{STATIC_URL}}favicons/favicon-16x16.png" sizes="16x16">
    <link rel="icon" type="image/png" href="{{STATIC_URL}}favicons/favicon-32x32.png" sizes="32x32">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-TileImage" content="{{STATIC_URL}}favicons/mstile-144x144.png">

  </head>

<body>


    <!-- Header -->
    <header id="top" class="year_header">
      <ul class = "list-inline">
        <li>
        <h1 id = "blanca_year"><a href="/" id = "link_header">Vuelve a escucharla</a></h1>
      </li>
      <li>
        <a href="/" id = "link_header" class = "home_right">
          <i id = "blanco_home" class = "fa fa-home fa-fw fa-3x">
          </i>
        </a>
      </li>
      </ul>
        <div class="opacity_bar"></div>
        
        <div class = "container" id = "year_head">
            <div class = "row" id = "div_video">
                <div class = "col-lg-5 col-sm-5">
                </br></br></br>
                <div class = "row">
                    <h1 id = "cancion">{{song.name}}</h1>
                </div>
                <div class = "row">
                    <h2 id = "autor">{{song.author}}</h2>
                </div>
                <div class = "row">
                    <h3 id = "anho">{{song.year}}</h3>
                </div>
                {% if box_height == 'big_x2' %}
                <div class = "green_box_x2">
                </div>
                {% elif box_height == 'big_x1'%}
                <div class = "green_box_x1">
                </div>
                {% elif box_height == 'big_x0'%}
                <div class = "green_box_x0">
                </div>
                {% else %}
                <div class = "green_box_normal">
                </div>
                {% endif %}

            </div>
            <div class = "col-lg-6 col-sm-6 col-lg-offset-1">
              <!-- 1. The <iframe> (and video player) will replace this <div> tag. -->
              <div id="player"></div>

                <script>
                      // 2. This code loads the IFrame Player API code asynchronously.
                      var tag = document.createElement('script');

                      tag.src = "https://www.youtube.com/iframe_api";
                      var firstScriptTag = document.getElementsByTagName('script')[0];
                      firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

                      // 3. This function creates an <iframe> (and YouTube player)
                      //    after the API code downloads.
                      var player;
                      function onYouTubeIframeAPIReady() {
                        player = new YT.Player('player', {
                          height: '348',
                          width: '576',
                          playerVars: {iv_load_policy:'3'},
                          videoId: '{{url}}',
                          events: {
                            'onReady': onPlayerReady,
                            'onStateChange': onPlayerStateChange
                        }
                    });
                    }

                      // 4. The API will call this function when the video player is ready.
                      function onPlayerReady(event) {
                        event.target.playVideo();
                    }

                      // 5. The API calls this function when the player's state changes.
                      //    The function indicates that when playing a video (state=1),
                      //    the player should play for six seconds and then stop.
                      var done = false;
                      function onPlayerStateChange(event) {
                        if (event.data == YT.PlayerState.ENDED && !done) {
                          goToNextSong();
                          done = true;
                      }
                  }
                    function goToNextSong(){
                        post('/year/{{year_interval}}/', {previous_song: '{{url}}'});
                        //window.location.replace('/year/{{year}}/');
                    }
            </script>
</div>
</div>
</div>

<div class="yellow_bar">
    <h3 id = "noera">¿No es lo que esperabas?</h3>
    <div class="n_container">
        <div class = "row">
            <form action = "/year/{{year_interval}}/" method = "post">
                <input type="hidden" name="previous_song" value="{{url}}" />
                <input type="submit" name="previous_song_btn" value="¡Dame otra!" class = "btn btn-lg btn-light" id = "btn_intentar"/>
            </form>
        </div>
    </div>
</div>
</header>

<!-- Call to Action -->

<!-- jQuery -->
<script src="{{STATIC_URL}}js/jquery.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="{{STATIC_URL}}js/bootstrap.min.js"></script>


</body>

</html>
